*.pyc
*.yml
*.toml
*.yml
*.yml
Exercises/tmcdata/mooc-programming-25/part08-13_stopwatch/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-01_hello_visual_studio_code/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-02_line/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-03_box_of_hashes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-04_square_of_hashes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-05_square/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-06_triangle/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-07_shape/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-08_spruce/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-09_greatest_number/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-10_same_characters/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-11_first_second_last/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-12_change_value_of_item/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-13_add_items_to_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-14_addition_and_removal/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-15_same_word_twice/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-16_list_twice/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-17_length_of_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-18_mean/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-19_range_of_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-20_star_studded/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-21_negative_to_positive/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-22_list_of_stars/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-23_anagrams/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-24_palindromes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-25_sum_of_positives/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-26_even_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-27_sum_of_lists/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-28_distinct_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-29_length_of_longest/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-30_shortest_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-31_all_longest_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-32_integers_to_strings/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-33_everything_reversed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-34_most_common_character/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-35_no_vowels_allowed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-36_no_shouting_allowed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-37_neighbours_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-38_grade_statistics/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-01_longest_string/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-02_number_of_elements/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-03_go/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-04_sudoku_row/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-05_sudoku_column/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-06_sudoku_block/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-07_sudoku_grid/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-08_items_multiplied_by_two/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-09_remove_smallest/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-10_sudoku_print_and_add/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-11_sudoku_add_to_copy/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-12_tic_tac_toe/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-13_transpose_matrix/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-14_times_ten/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-15_factorials/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-16_histogram/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-17_phone_book_v1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-18_phone_book_v2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-19_invert_dictionary/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-20_numbers_spelled_out/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-21_movie_database/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-22_find_movies/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-23_create_tuple/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-24_oldest_person/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-25_older_people/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-26_student_database/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-27_letter_square/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-01_largest_number/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-02_fruit_market/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-03_matrix/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-04_course_grading_part_1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-05_course_grading_part_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-06_course_grading_part_3/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-07_spellchecker/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-08_recipe_search/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-09_city_bikes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-10_inscription/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-11_diary/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-11_diary/diary.txt
Exercises/tmcdata/mooc-programming-25/part06-11_diary/src/diary.txt
Exercises/tmcdata/mooc-programming-25/part06-12_filtering_file_contents/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-12_filtering_file_contents/src/solutions.csv
Exercises/tmcdata/mooc-programming-25/part06-13_store_personal_data/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-13_store_personal_data/people.csv
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/results.csv
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/results.txt
Exercises/tmcdata/mooc-programming-25/part06-15_word_search/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-16_dictionary_file/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-16_dictionary_file/dictionary.txt
Exercises/tmcdata/mooc-programming-25/part06-16_dictionary_file/src/dictionary.txt
Exercises/tmcdata/mooc-programming-25/part06-17_read_input/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-18_parameter_validation/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-19_incorrect_lottery_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-01_hypotenuse/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-02_special_characters/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-03_fractions/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-04_lottery_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-05_password_generator_part_1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-06_password_generator_part_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-07_dice_roller/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-08_random_words/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-09_how_old/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-10_valid_pic/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-11_screen_time/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-12_json_files/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-13_course_statistics/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-14_who_cheated/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-15_who_cheated_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-16_spellchecker_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-17_string_helper/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-18_own_programming_language/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-01_smallest_average/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-02_row_sums/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-03_list_years/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-04_shopping_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-05_book/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-06_three_classes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-07_pet/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-08_older_book/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-09_books_of_genre/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-10_decreasing_counter/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-11_first_and_last_name/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-12_number_stats/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-13_stopwatch/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-14_clock/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-15_lunchcard/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-16_series/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-01_fastest_car/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-02_passing_submissions/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-03_baby_centre/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-04_lunchcard_and_paymentterminal/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-05_comparing_properties/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-06_pets/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-07_box_of_presents/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-08_shortest_in_room/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-09_car/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-10_recording/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-11_weather_station/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-12_service_charge/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-13_postcodes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-14_list_helper/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-15_item_suitcase_hold/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-06_triangle/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-10_same_characters/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-01_hello_visual_studio_code/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/course_config.toml
Exercises/tmcdata/mooc-programming-25/part04-01_hello_visual_studio_code/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-02_line/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-03_box_of_hashes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-04_square_of_hashes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-05_square/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-06_triangle/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-07_shape/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-08_spruce/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-09_greatest_number/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-10_same_characters/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-11_first_second_last/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-12_change_value_of_item/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-13_add_items_to_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-14_addition_and_removal/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-15_same_word_twice/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-16_list_twice/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-17_length_of_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-18_mean/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-19_range_of_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-20_star_studded/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-21_negative_to_positive/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-22_list_of_stars/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-23_anagrams/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-24_palindromes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-25_sum_of_positives/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-26_even_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-27_sum_of_lists/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-28_distinct_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-29_length_of_longest/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-30_shortest_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-31_all_longest_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-32_integers_to_strings/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-33_everything_reversed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-34_most_common_character/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-35_no_vowels_allowed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-36_no_shouting_allowed/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-37_neighbours_in_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-38_grade_statistics/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-01_longest_string/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-02_number_of_elements/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-03_go/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-04_sudoku_row/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-05_sudoku_column/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-06_sudoku_block/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-07_sudoku_grid/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-08_items_multiplied_by_two/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-09_remove_smallest/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-10_sudoku_print_and_add/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-11_sudoku_add_to_copy/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-12_tic_tac_toe/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-13_transpose_matrix/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-14_times_ten/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-15_factorials/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-16_histogram/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-17_phone_book_v1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-18_phone_book_v2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-19_invert_dictionary/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-20_numbers_spelled_out/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-21_movie_database/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-22_find_movies/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-23_create_tuple/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-24_oldest_person/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-25_older_people/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-26_student_database/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part05-27_letter_square/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-01_largest_number/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-02_fruit_market/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-03_matrix/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-04_course_grading_part_1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-05_course_grading_part_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-06_course_grading_part_3/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-07_spellchecker/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-08_recipe_search/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-09_city_bikes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-10_inscription/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-11_diary/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-12_filtering_file_contents/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-12_filtering_file_contents/src/solutions.csv
Exercises/tmcdata/mooc-programming-25/part06-13_store_personal_data/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/results.csv
Exercises/tmcdata/mooc-programming-25/part06-14_course_grading_part_4/results.txt
Exercises/tmcdata/mooc-programming-25/part06-15_word_search/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-16_dictionary_file/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-16_dictionary_file/dictionary.txt
Exercises/tmcdata/mooc-programming-25/part06-17_read_input/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-18_parameter_validation/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part06-19_incorrect_lottery_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-01_hypotenuse/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-02_special_characters/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-03_fractions/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-04_lottery_numbers/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-05_password_generator_part_1/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-06_password_generator_part_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-07_dice_roller/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-08_random_words/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-09_how_old/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-10_valid_pic/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-11_screen_time/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-12_json_files/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-13_course_statistics/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-14_who_cheated/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-15_who_cheated_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-16_spellchecker_2/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-17_string_helper/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part07-18_own_programming_language/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-01_smallest_average/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-02_row_sums/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-03_list_years/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-04_shopping_list/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-05_book/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-06_three_classes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-07_pet/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-08_older_book/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-09_books_of_genre/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-10_decreasing_counter/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-11_first_and_last_name/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-12_number_stats/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-13_stopwatch/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-14_clock/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-15_lunchcard/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part08-16_series/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-01_fastest_car/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-02_passing_submissions/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-03_baby_centre/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-04_lunchcard_and_paymentterminal/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-05_comparing_properties/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-06_pets/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-07_box_of_presents/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-08_shortest_in_room/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-09_car/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-10_recording/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-11_weather_station/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-12_service_charge/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-13_postcodes/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-14_list_helper/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part09-15_item_suitcase_hold/.tmcproject.yml
Exercises/tmcdata/mooc-programming-25/part04-02_line/.tmcproject.yml
